
<div class="container">
  <h1><%=@curriculum.title%></h1>
  <h5><%=@curriculum.description%></h5>
  <h6><%= link_to @curriculum.user.name, user_path(@curriculum.user)%></h6>
  <div class="row">
    <%@curriculum.books.each do |book|%>
      <div class="col s3">
          <ul>
            <li>
              <a href="<%=book_path(book)%>">
                <div class="card-panel hoverable">
                  <div class="card-image">
                    <img class="responsive-img" src="<%=book.img_url%>">
                    <span class="card-title">"<%=book.title%>" -- <%= book.author%></span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
        <%end%>
    </div>
  </div>
</div>
