
<div class="container">
  <h1><%=@curriculum.title%></h1>
  <p>"<%=@curriculum.description%>"</p>

  <h6>-<%= link_to @curriculum.user.name, user_path(@curriculum.user)%></h6>




  <form action='<%=add_to_lib_path%>' method="get">
    <input type="hidden" name="curriculum_id" value='<%=@curriculum.id%>'>
    <button class="btn waves-effect waves-light" type="submit" name="action" >
      <i class="material-icons right">
        <% if @curriculum.followed?(session[:user_id])%>
            <%="Unfollow"%>
        <%else%>
            <%="Add to Library"%>
        <%end%>
      </i>
    </button>
  </form>

  <div class="row">
    <%@curriculum.books.each do |book|%>
      <div class="col s3">
          <ul>
            <li>
              <a href="<%=book_path(book)%>">
                <div class="card-panel hoverable">
                  <div class="card-image">
                    <img class="responsive-img" src="<%=book.img_url%>">
                    <span class="card-title">"<%=book.title%>" -- <%= book.author%></span>
                  </div>
                </div>
              </a>
            </li>
          </ul>
        </div>
      <%end%>
    </div>
  </div>
