<div class="container">


  <div class='row'>
    <%@users.each do |user|%>
      <ul>
        <div class='col s12'>
            <li>
              <a href="<%=user_path(user)%>">
                <div class="card horizontal hoverable indigo lighten-5">
                  <div class="card-image">
                    <img src="<%=user.img_url%>" class="circle responsice-img" style="height:200px;  overflow:hidden">
                  </div>
                  <div class="card-stacked">
                    <div class="card-title">
                      <span class="black-text"><%=user.name%></span>
                    </div>
                    <div class="card-content">
                      <span class="black-text">Curricula Created:<%=user.curriculum_count%></span>
                      <br>
                      <span class ="black-text">Bio: <%=user.biography%></span>

                    </div>
                  </div>
                </div>
              </a>
            </li>
        </div>
      </ul>
    <%end%>
    <div class='col s12'>
      <h4>Explore top users!</h4>

    </div>               <!-- notice the "circle" class -->
  </div>
</div>
