<div class="container">
  <h1>Create New Book</h1>

  <div class="row">
    <!-- <div class="col s12"></div> -->
    <div class='col s6'><img src=https://images-na.ssl-images-amazon.com/images/I/51SNYB4C5HL._SX258_BO1,204,203,200_.jpg></div>
    <div class="col s6">
      <ul>
      <%= form_for @book do |f|%>

        <%= f.label :title%>
        <%= f.text_field :title%>
        <br>
        <%= f.label :author%>
        <%= f.text_field :author%>
        <br>
        <%= f.label :year%>
        <%= f.text_field :year%>
        <br>
        <%= f.label :publisher%>
        <%= f.text_field :publisher%>
        <br>
        <%= f.label :description%>
        <%= f.text_area :description%>

        <br>
        <%= f.label :subject %>
        <%= f.collection_select(:subject_id, Subject.all, :id, :name)%>

        <br>
        <%= f.submit %>
      <%end%>

      </ul>
    </div>
  </div>
</div>
