  <nav>
        <div class="nav-wrapper blue-grey darken-1">
          <ul id="nav-mobile" class="left">
            <li><%= link_to "Browse Subjects", subjects_path%></li>
            <li><%= link_to "Create Book", new_book_path%></li>
          </ul>
        </div>
  </nav>
<div class = "container">


  <h1><%= @book.title%></h1>
  <h3>by <%= @book.author%> - <%=link_to @book.subject.name, subject_path(@book.subject)%></h3>
  Publisher: <%= @book.publisher%>
  <br>
  <%= @book.description%>

  <img src= '<%=@book.img_url%>' >

</div>
