  <nav>
    <div class="nav-wrapper blue-grey darken-1">
      <ul id="nav-mobile" class="left">
        <li><%= link_to "Browse Subjects", subjects_path%></li>
          <li><%= link_to "Create Book", new_book_path%></li>
      </ul>
    </div>
  </nav>
<div class = "container">
  <div class="row">
    <!-- <div class="col s12"></div> -->
    <div class="col s6">

    <h1><%= @book.title%></h1>
    <h3>by <%= @book.author%> - <%=link_to @book.subject.name, subject_path(@book.subject)%></h3>
    Publisher: <%= @book.publisher%>

    <br>
    Description:
    <%= @book.description%>
    <br>
    Book used in: <%@book.curriculums.each do |curr|%>
    <li> <%= link_to curr.title, curriculum_path(curr)%> </li>

    <%end%>
  </div>
  <div class="col s6">
    <img class="responsive-img" src="<%=@book.img_url%>">
  </div>

</div>

</div>
