<!DOCTYPE html>
<html>
  <head>
    <title>Curricula</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <%= link_to "Books", books_path%>
    <%= link_to "Subjects", subjects_path%>
    <%= link_to "Users", users_path%>
    <%= link_to "Curriculum", curriculums_path%>

    <%= yield %>
  </body>
</html>
