<!DOCTYPE html>
<html>
  <head>
    <title>Curricula</title>
    <link href="https://fonts.googleapis.com/css?family=Barlow+Semi+Condensed" rel="stylesheet">
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>


  </head>

  <body>

    <nav>
      <div class="nav-wrapper blue-grey darken-1">

        <ul id="nav-mobile" class="left">
          <li><%= link_to "Home", home_path%></li>
          <li><%= link_to "Books", subjects_path%></li>

          <li><%= link_to "Influencers", users_path%></li>
          <li><%= link_to "Curriculum", curriculums_path%></li>
        </ul>

         <a href="#" class="brand-logo center">Curricula</a>

        <ul id="nav-mobile" class="right">
          <% if logged_in? %>
            <li><%= link_to "Profile", profile_path%></li>
            <li><%= link_to "Logout", logout_path%></li>
            <%else%>
            <li><%= link_to "Log In / Sign Up", login_path%></li>
            <%end%>
        </ul>

      </div>

    </nav>

    <!-- <div class="container"> -->
      <%= yield %>
    <!-- </div> -->



  </body>

</html>
