<!DOCTYPE html>
<html>
  <head>
    <title>Curricula</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <nav>
      <div class="nav-wrapper blue-grey darken-1">
          <div class="row">
            <div class="col s10">
                <ul id="nav-mobile">
                  <li><button class="dropbtn"><%= link_to "Books", books_path%></button></li>
                  <div class="dropdown">
                    <div class="dropdown-content">
                      <%= link_to "Create new book", new_book_path%>
                      <%= link_to "Subjects", subjects_path%>
                    </div>
                  </div>

                  <li><%= link_to "Subjects", subjects_path%></li>
                  <li><%= link_to "Users", users_path%></li>
                  <li><%= link_to "Curriculum", curriculums_path%></li>
                </ul>
            </div>

            <div class="col s2">
              <ul id="nav-mobile">
              <% if logged_in? %>
                  <li><%= link_to "Profile", profile_path%></li>
                  <li><%= link_to "Logout", logout_path%></li>
                <%else%>
                  <li><%= link_to "Log In / Sign Up", login_path%></li>
               <%end%>
             </ul>
            </div>
          </div>
        </div>
    </nav>

    <div class="container">
      <%= yield %>
    </div>

  </body>
</html>
